
*{
    font-family: 'Roboto Condensed', sans-serif;

    margin: 0;
    padding: 0;
}
body{
    gap: 240px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
@media (max-width: 576px) {

/* entête */
header{
    background-color: #000000c5;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 130px;
    color: #ffffff;
}
header h1{
    margin: 0;
    font-size: 1.4em;
}
#i_logo{
    font-weight: bold;
    color: rgb(19, 152, 189);
}
header button{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
}
header button img{
    width: 100%;
    height: auto;
}

/* Contenu Première page*/
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.section1 p{
    margin: 10px 0;
    font-size: 1.6em;
}
/* Présentation */
.section1 .presentation{
    margin-top: 60px;
}
.section1 .myname{
    font-weight: bold;
    font-size: 1.6em;
}
.maPhotoProfil{
    border: 3px solid rgb(19, 152, 189);
    width: 250px;
    height: 250px;
    margin: 50px 50px;
    border-radius: 50%;
    overflow: hidden;
}
.maPhotoProfil img{
    max-width: 100%;
    height: auto;
}
.section1 button, .section1_2 button{
    background-color: rgb(19, 152, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
/* contenu page 2*/
.section2{
    padding: 20px;
}
/* les rectangles*/
.widget{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    border-right: 10px solid rgb(19, 152, 189);
    height: auto;
    width: auto;
    background-color: rgb(4, 2, 41);
    margin-top: 20px;
}
.widget h1{
    color:  rgb(19, 152, 189);
    font-size: 1.2em;
    margin-bottom: 15px;
}
.widget .competence{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.widget .barre {
    text-align: center;
    font-weight: bold;
    width: 50%;
    height: 15px;
    background-color: rgb(173, 192, 197);
    border-radius: 5px;
    overflow: hidden;
}
.barre #monhtml {
    height: 15px;
    width: 90%;
    background-color: #e44d26;
}

.barre #moncanva {
    height: 15px;
    width: 60%;
    background-color: brown;
}

.barre #monfigma {
    height: 15px;
    width: 75%;
    background-color: violet;
}
.barre #moncss {
    height: 15px;
    width: 80%;
    background-color: #2965f1;
}
.barre #monjs {
    height: 15px;
    width: 60%;
    background-color: #f0db4f;
}
.barre #monpascal {
    height: 15px;
    width: 90%;
    background-color: #306998;
}
.widget li{
    padding: 5px 10px;
    font-size: 1.1em;
    list-style: none;
    margin: 5px 0;
}

/*section à propos*/
.section1_2,.section3,.section4{
    margin-top: 20px;
    margin-bottom: 50px;
    height: auto;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}
.section1_2 .aPrpopsContent{
    height: 200px;
    overflow: hidden;
}
.section1_2 p{
    font-size: 1.2em;
    line-height: 1.5em;
}

/*section Expériences & Formations*/
.section3 h1{
    margin-bottom: 20px;
}
.section3 .widgetFormation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgb(19, 152, 189);
    border-radius: 10px;
    background-color: rgb(4, 2, 41);
    font-size: 1em;
    margin-bottom: 20px;

}
.widgetFormation #certif{
    font-weight: bold;
    font-size: 1.1em;
}
.widgetFormation #lieuCertif{
    color: rgb(173, 192, 197);
}
.widgetFormation #descriptionCertif{
    font-size: 0.9em;
    font-style: italic;
    color: rgb(173, 192, 197);
}

/* projets */
.section4{
    margin-top: 300px;
}
.section4 h1{
    color: rgb(19, 152, 189);
}
.section4 .widget_projets{ 
      
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    border-right: 6px solid white;
    border-left: 6px solid white;
    height: auto;
    width: auto;
    background-color: rgb(4, 2, 41);
    margin-top: 20px;
}
.widget_projets a{
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
    padding: 10px 15px;
    background-color:rgb(19, 152, 189);
    text-decoration: none;
    color:   rgb(4, 2, 41);
}

/* section contact et fin */
form{
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
form fieldset{
    border: 2px solid rgb(19, 152, 189);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px;
    background-color: rgb(4, 2, 41);
}
form legend{
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(19, 152, 189);
}
form input, form textarea{
    margin: 10px 0;
    width: 90%;
    padding: 10px;
    border-right: none;
    border-left:none;
    border-top: none;
    border-bottom: 1px solid rgb(19, 152, 189);
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1em;
}
form button{
    background-color: rgb(19, 152, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.section5{
    height: auto;
    margin-top: 0px;
    background-color: rgba(2, 43, 92, 0.694);
    color: white;
    text-align: center;
    padding: 40px 20 px;
}
/* footer*/
.ending p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.ending .socials{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ending .socials .bulles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(19, 152, 189);
    border-radius: 50%;
}

.ending .navigation ul {
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ending .navigation li {
    list-style: none;
}
.ending .navigation li a{
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.ending .navigation li a:hover{
    text-decoration: underline overline rgb(19, 152, 189) ;

}
}


@media (max-width: 768px) {
    header{
    transition: all 0.3s ease;
    background-color: #000000c5;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    color: #ffffff;
}
header h1{
    margin: 0;
    font-size: 1.6em;
}
#i_logo{
    font-weight: bold;
    color: rgb(19, 152, 189);
}
header button{
    width: 65px;
    height: 65px;
    background: none;
    border: none;
    cursor: pointer;
}
header button img{
    width: 100%;
    height: auto;
}
    
/* Contenu Première page*/
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.section1 p{
    margin: 10px 0;
    font-size: 2em;
}
/* Présentation */
.section1 .presentation{
    margin-top: 60px;
}
.section1 .myname{
    font-weight: bold;
    font-size: 1.6em;
}
.maPhotoProfil{
    border: 5px solid rgb(19, 152, 189);
    width: 290px;
    height: 290px;
    margin: 50px 50px;
    border-radius: 50%;
    overflow: hidden;
}
.maPhotoProfil img{
    max-width: 100%;
    height: auto;
}
.section1 button, .section1_2 button{
    background-color: rgb(19, 152, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
.section1 button:hover, .section1_2 button:hover{
    background-color: rgb(4, 2, 41);
    padding: 15px 25px;
    color: rgb(19, 152, 189);
    border: 1px solid rgb(19, 152, 189);

}
/*a propos*/
.section1_2 .aPrpopsContent{
    height: 450px;
    font-size: 1.2em;
    text-align: justify;
    overflow: hidden;
}
.section1_2 p{
    font-size: 1.2em;
    line-height: 1.5em;
}
    .section1_2, .section3, .section4 {/* espace entre les sections*/
        padding: 20px;
    }

    form {
        margin: 0px 0px;
    }
    form fieldset {
        padding: 40px;
    }
    form input, form textarea {
        padding: 5px 20px;
    }

    form button {
        padding: 5px 60px;
    }
    form button:hover {
        background-color: rgb(4, 2, 41);
        color: rgb(19, 152, 189);
        border: 1px solid rgb(19, 152, 189);
    }
    .ending p {
        font-size: 1.2em;
        text-align: center;
    }
    .ending .socials .bulles {
        width: 50px;
        height: 50px;
    }
    .ending .navigation li a {
        padding: 5px 10px;
        font-size: 1.4em;
    }
}
@media (min-width: 769px) {

/* entête */
header{
    background-color: #000000c5;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}
header h1{
    margin: 10px 10px;
    font-size: 2em;
}
#i_logo{
    font-weight: bold;
    color: rgb(19, 152, 189);
}
header button{
    margin: 10px 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}
header button:hover {
    transform: scale(1.1);
}
header button img{
    width: 100%;
    height: auto;
}

/* Contenu Première page*/
.section1{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.section1 p{
    margin: 10px 0;
    font-size: 1.8em;
}
/* Présentation */
.section1 .presentation{
    margin-top: 40px;
}
.section1 .myname{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.maPhotoProfil{
    border: 3px solid rgb(19, 152, 189);
    width: 250px;
    height: 250px;
    margin: 50px 50px;
    border-radius: 50%;
    overflow: hidden;
}
.maPhotoProfil img{
    max-width: 100%;
    height: auto;
}
.section1 button, .section1_2 button{
    background-color: rgb(19, 152, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
/* contenu page 2*/
.section2{
    padding: 20px 100px;
}
/* les rectangles*/
.widget{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    border-radius: 10px;
    border-right: 4px solid rgb(19, 152, 189);
    height: auto;
    width: auto;
    background-color: rgb(4, 2, 41);
    margin-top: 20px;
}
.widget h1{
    color:  rgb(19, 152, 189);
    font-size: 1.4em;
    margin-bottom: 15px;
}
.widget .competence{
    padding-right: 40px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.widget .barre {
    text-align: center;
    font-weight: bold;
    width: 50%;
    height: 20px;
    background-color: rgb(173, 192, 197);
    border-radius: 5px;
    overflow: hidden;
}
.barre #monhtml {
    height: 20px;
    width: 90%;
    background-color: #e44d26;
}

.barre #moncanva {
    height: 20px;
    width: 60%;
    background-color: brown;
}

.barre #monfigma {
    height: 20px;
    width: 75%;
    background-color: violet;
}
.barre #moncss {
    height: 20px;
    width: 80%;
    background-color: #2965f1;
}
.barre #monjs {
    height: 20px;
    width: 60%;
    background-color: #f0db4f;
}
.barre #monpascal {
    height: 20px;
    width: 90%;
    background-color: #306998;
}
.widget li{
    padding: 5px 10px;
    font-size: 1.1em;
    list-style: none;
    margin: 5px 0;
}

/*section à propos*/
.section1_2,.section3,.section4{
    margin-top: 20px;
    margin-bottom: 50px;
    height: auto;
    max-height: 120vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}
.section1_2 .aPrpopsContent{
    height: 200px;
    overflow: hidden;
}
.section1_2 p{
    font-size: 1.2em;
    line-height: 1.5em;
}

/*section Expériences & Formations*/
.section3 h1{
    margin-bottom: 20px;
}
.section3 .widgetFormation{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgb(19, 152, 189);
    border-radius: 10px;
    background-color: rgb(4, 2, 41);
    font-size: 1em;
    margin-bottom: 20px;

}
.widgetFormation #certif{
    font-weight: bold;
    font-size: 1.1em;
}
.widgetFormation #lieuCertif{
    color: rgb(173, 192, 197);
}
.widgetFormation #descriptionCertif{
    font-size: 0.9em;
    font-style: italic;
    color: rgb(173, 192, 197);
}

/* projets */
.section4{
    margin-top: 300px;
}
.section4 h1{
    color: rgb(19, 152, 189);
}
.section4 .widget_projets{ 
      
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    border-right: 6px solid white;
    border-left: 6px solid white;
    height: auto;
    width: auto;
    background-color: rgb(4, 2, 41);
    margin-top: 20px;
}
.widget_projets a{
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
    padding: 10px 15px;
    background-color:rgb(19, 152, 189);
    text-decoration: none;
    color:   rgb(4, 2, 41);
}

/* section contact et fin */
form{
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}
form fieldset{
    border: 2px solid rgb(19, 152, 189);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px;
    background-color: rgb(4, 2, 41);
}
form legend{
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(19, 152, 189);
}
form input, form textarea{
    margin: 10px 0;
    width: 90%;
    padding: 10px;
    border-right: none;
    border-left:none;
    border-top: none;
    border-bottom: 1px solid rgb(19, 152, 189);
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1em;
}
form button{
    background-color: rgb(19, 152, 189);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.section5{
    height: auto;
    margin-top: 0px;
    background-color: rgba(2, 43, 92, 0.694);
    color: white;
    text-align: center;
    padding: 40px 20 px;
}
/* footer*/
.ending p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.ending .socials{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.ending .socials .bulles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(19, 152, 189);
    border-radius: 50%;
}

.ending .navigation ul {
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ending .navigation li {
    list-style: none;
}
.ending .navigation li a{
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.ending .navigation li :hover{
    text-decoration: underline overline rgb(19, 152, 189) ;

}
}